<mat-toolbar *ngIf='IsloggedIn()' color="primary">
  <button color="default" mat-button  routerLink="/" class="clickable" routerLinkActive="active" >
    Home
  </button>
  <span class="example-fill-remaining-space"></span>

  <span color="default" mat-button > {{username()}} </span>
  <button color="default" mat-button (click)='logout()' > Logout </button>
  
</mat-toolbar>