<!-- <mat-grid-list cols="5" rowHeight="100px"> -->
<!-- <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile> -->
<div *ngIf='signin'>
    <mat-card>
        <mat-card-header class="mat-header">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content">

            <mat-form-field class="form-field">
                <input matInput placeholder="username" [(ngModel)]="user.username" name="username" required> </mat-form-field>
            <br>
            <mat-form-field class="form-field">
                <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" required>
            </mat-form-field>

            <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
            <p *ngIf='msgErr' style="color:red">fill all fields</p>
            <p *ngIf='resErr' style="color:red">{{resErr}}</p>
        </mat-card-content>
        <mat-card-actions  class="login-btn" >

            <button   mat-raised-button (click)="login()" color="primary" class="login-btn" >Login</button>
            <mat-spinner *ngIf='loading' class="spinnerLoggin"></mat-spinner>
            <br>
            <a  class='pointer' (click)='revert()'  >SIGN UP...</a>
        </mat-card-actions>

    </mat-card>

</div>
<div *ngIf='!signin'>
    <mat-card>
        <mat-card-header class="mat-header">
            <mat-card-title>Sign Up</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
            <mat-form-field class="form-field"> <input matInput placeholder="fullname" [(ngModel)]="ruser.fullname" name="fullname" required> </mat-form-field>
            <mat-form-field class="form-field"> <input matInput placeholder="username" autocomplete="off" [(ngModel)]="ruser.username" name="username" required> </mat-form-field>
            <mat-form-field class="form-field"> <input matInput placeholder="password" autocomplete="off" [(ngModel)]="ruser.password" type="password" name="password" required></mat-form-field>
            <mat-form-field class="form-field">  <input matInput placeholder="repeat password" [(ngModel)]="ruser.password2" type="password" name="password2" required>  </mat-form-field>
            <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
            <p *ngIf='rmsgErr' style="color:red">fill all fields</p>
            <p *ngIf='unmatch' style="color:red">passwords are not matched</p>

        </mat-card-content>
        <mat-card-actions  class="login-btn" >
            <button   mat-raised-button (click)="register()" color="primary" class="login-btn" >Register</button>
            <mat-spinner *ngIf='loading' class="spinnerLoggin"></mat-spinner>
            <br>
            <a  class='pointer' (click)='revert()'  >SIGN IN...</a>
        </mat-card-actions>

    </mat-card>

</div>
<!-- </mat-grid-list> -->