.spinnerLoggin{
  z-index: 123 !important; /* Sit on top */
  margin-left: 20%;
  margin-top: -30%
}
  .mat-card{
    width: 50%;
    margin-left: 18%;
    /* top: 10%; */
    padding: 5%;
    margin-top: 6%;
    -webkit-box-shadow: 10px 5px 5px 6px rgba(0,0,0,0.09);
    -moz-box-shadow: 10px 5px 5px 6px rgba(0,0,0,0.09);
    box-shadow: 10px 5px 5px 6px rgba(0,0,0,0.09);



  }

  .mat-header{
    text-align: center;
    margin-left: 42%;
    font-weight: bold ;
   
 }
 .mat-card-title{
   font-size: 2em;
 }
  .mat-card-content{
    margin-left:30%;
    padding: 2%;
  }

  .form-field{
    width: 55%;
    font-size: 1.5em;

  }

  .login-btn{
    margin-left: 31%;
    width: 60%;
    padding: 1%;
  }

  