 
<mat-card>
  <h2 class='fontCairo'>Your Todos</h2>

  <div class="pull-right">
    <button color="primary" mat-fab (click)='openDialog({})'>
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-card-content>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div  class="mat-elevation-z8">
      <table *ngIf='dataSource' mat-table [dataSource]="dataSource" matSort>
      
        <ng-container matColumnDef="No."  class='autoContainer'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header > No. </th>
          <td mat-cell *matCellDef="let row"> {{row.index+1}} </td>
        </ng-container>

        <!-- text Column -->
        <ng-container matColumnDef="text"  class='autoContainer'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header > text </th>
          <td mat-cell *matCellDef="let row"> {{row.text}} </td>
        </ng-container>
        <!-- Name Column -->
      
        <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
               <td mat-cell *matCellDef="let row" > {{formatTime(row.created_at)}} </td>
        </ng-container>
       
     

         <ng-container   matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> actions </th>
          <td mat-cell *matCellDef="let row"  >  
               <button (click)="openDialog(row)" color="primary" mat-fab>
                   <mat-icon>edit</mat-icon>
               </button> 
               <button color="primary" (click)='deleteTodo(row)' mat-fab>
                <mat-icon>delete</mat-icon>
              </button> 
            
           </td>
        </ng-container>
        
        <!-- Name Column -->
         
       
        
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    
    
  </mat-card-content>
</mat-card>
