/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url(https://fonts.googleapis.com/css?family=Cairo&subset=arabic);
body{
    margin: 0;
    padding: 0;
}
.sidenav{
    width: 14%
}
.first{
  display: none;
}
 
  .spinner{
    z-index: 123 !important; /* Sit on top */
    margin-left: 40%;
    margin-top: -30%
  }
  .fontCairo{
    font-family: 'Cairo', sans-serif; 
  }
   
  /* Modal Content */
 x
.mat-drawer-container .mat-sidenav-container{
  height: 99vh !important;
}

.pointer {
  cursor: pointer;
  color: #673AB7;
  
}